# DNA files
*.gfa
*.fq
*.fq.*
*.fasta
*.fasta.*
*.fastq
*.fastq.*
*.fa
*.fa.*
*.fna
*.fna.*
*.bam
*.bam.*
*.sam
*.vcf
*.vcf.gz
*.saf*
*.beagle*

# BIG files
*.gz
*.tsv
*.tsv.*
*.csv
*.csv.*
*.json
*.json.*

# Directories
dDocentHPC/
fltrVCF/
rad_haplotyper/
rroberts_thesis/
SPA*/
SPAdes*/
SPAdes_R1R2_noIsolate_decontam/
busco_c*/
busco_s*/
busco_d*/
*/logs/probes_ann*out
probes_ann*

# Allow these files to be synced
!salarias_fasciatus/BAM_metrics/out_Sfa_ReadStats.tsv
!Sfa-ABas-CBas_all-GCF_902148845.1_fSalaFa1.1_chr1-23-mtgen_clmp_fp2_repr_fltrd.beagle.gz
!popmap*
