# DNA files
*.gfa
*.fq
*.fq.*
*.fasta
*.fasta.*
*.fastq
*.fastq.*
*.fa
*.fa.*
*.fna
*.fna.*
*.bam
*.bam.*
*.sam
*.vcf
*.vcf.gz

# BIG files
*.gz
*.tsv
*.tsv.*
*.csv
*.csv.*
*.json
*.json.*

# Directories
dDocentHPC/
fltrVCF/
rad_haplotyper/
rroberts_thesis/
SPA*/
SPAdes*/
SPAdes_R1R2_noIsolate_decontam/
busco_c*/
busco_s*/
busco_d*/
*/logs/probes_ann*out
probes_ann*

# Allow these files to be synced
!pire_lcwgs_data_processing/salarias_fasciatus/BAM_metrics/out_Sfa_ReadStats.tsv
